body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    background-image: url("back_image.jpg");
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    background: linear-gradient(to left, rgba(231, 206, 77, 0.8) 2%, rgba(101, 101, 101, 0.8) 2% );
    height: 55%;
    min-height: 335px;
    width: 60%;
    min-width: 550px;
    border-radius: 10px 0 0 10px;
    max-height: 420px;
    max-width: 1130px;
    box-shadow: #000000 0 0 500px 1px;
}

#search{
    border-radius: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    height: 20%;
    background: linear-gradient(to left, rgba(231, 206, 76, 0.8) 2%, rgba(68, 68, 68, 0.9) 2% );
    color: rgba(232, 232, 232, 0.90);
    font-family: Impact, sans-serif;
}

form{
    width: 100%;
    height: 100%;
    position: relative;
}

#search label{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16pt;
}

#search:hover{
    background: linear-gradient(to left, #97c9d2 2%, rgba(55, 55, 55, 0.9) 2% );
}

#search input{
    width: 40%;
    height: 50%;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16pt;
    font-family: Impact, sans-serif;
}

#search button {
    width: 20%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0);
    border: solid 3px rgb(196, 196, 196);
    color: rgba(232, 232, 232, 0.90);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    font-size: 16pt;
    font-family: Impact, sans-serif;
}

#search button:hover{
    cursor: pointer;
    border: solid 3px rgb(206, 185, 71);
}

#search input:focus, #search button:focus {
    outline: none;
}

#search button:active{
    transform: translateY(2px);
}

#search img {
    width: 25px;
    height: 25px;
    position: relative;
}

#get_city{
    position: relative;
    font-size: 20pt;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: rgba(232, 232, 232, 0.78);
    font-family: Impact, sans-serif;
}

.week{
    position: relative;
    width: 95%;
    height: 65%;
    border-radius: 0 0 0 10px;
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-direction: row;
    padding-right: 3%;
    padding-left: 2%;
}

.days{
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    border-radius: 10px;
    height: 85%;
    width: 15%;
    background-color: rgba(64, 64, 64, 0.6);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: Impact, sans-serif;
    color: #dbdbdb;
}

.main {
    font-size: 20pt;
}

.main, .info, .date {
    text-align: center;
}

.day{
    border-bottom: 4px solid #90cbd5;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    font-size: 18pt;
}

.main_info:hover{
    cursor: pointer;
    color: rgb(220, 203, 98);
}

.info{
    font-size: 12pt;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.info:hover{
    cursor: pointer;
}

.min_day_temp{
    font-size: 18pt;
    font-family: sans-serif;
}

.date{
    width: 100%;
    position: relative;
    color: black;
    font-size: 12pt;
}

.now{
    border: solid 3px rgb(217, 201, 100);
}

#error{
    width: 500px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 10%;
    position: absolute;
    border-radius: 10px;
    border-left: #d41646 5px solid;
    border-right: #d41646 5px solid;
    font-family: monospace;
    text-align: center;
}